{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Your To-Do List!</title>
        <link rel="stylesheet" href="{% static "css/todos.css" %}">
    </head>
    <body>
        <header>
            <nav></nav>
        </header>
        <main>
            <div>
                <h1> {{ todo.name }} </h1>
                <a href="{% url 'todo_list_update' todo.id %}">Edit title</a>
                <a href="{% url 'todo_list_delete' todo.id %}">Delete this list</a>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                            <th>Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>
                                    <a href="{% url 'todo_item_edit' todo.id task.id %}">{{ task.task }}</a>
                                </td>
                                <td>{{ task.due_date|date:"Y-m-d" }}</td>
                                <td>{{ task.is_completed }}</td>
                                <td>
                                    <a href="{% url 'todo_item_edit' todo.id task.id %}"></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>
