{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Your To-Do List!</title>
        <link rel="stylesheet" href="{% static "css/todos.css" %}">
    </head>
    <body>
        <header>
            <nav></nav>
        </header>
        <main>
            <div>
                <h1>My Lists</h1>
                <a href="{% url 'todo_list_create' %}">Create a new list!</a>
                <a href="{% url 'todo_item_create' %}">Create a new task</a>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo in todos %}
                            <tr>
                                <td>
                                    <a href="{% url 'todo_list_detail' todo.id %}">{{todo.name}}</a>
                                </td>
                                <td>{{ todo.items.count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>
